ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: block;
}

.footer {
  position: relative;
  display: flex;
  gap: 24px;
  max-width: 1440px;
  min-height: 232px;
  padding: 32px 36px;
  background-color: #f8f9fa;
  font-family: 'Roboto', sans-serif;
  color: rgb(37 48 23);
  box-sizing: border-box;
  width: 100%;


  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 1;
    inline-size: 120vw;
    block-size: 100%;
    background-color: inherit;
    transform: translateX(-50%);
  }

  > div {
    position: relative;
    z-index: 2;
  }
}

.logo {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  width: 159px;
  height: 40px;
}

.copyright {
  font-size: 12px;
  line-height: 16px;
  color: rgb(37 48 23);
}

.block {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

/* Обычные ссылки */
.link {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s;

  &:hover {
    opacity: 0.7;
  }
}

/* Ссылки с точкой */
.link-with-dot {
  @extend .link;

  position: relative;
  padding-left: 16px;

  &::before {
    content: '•';
    color: rgb(37 48 23);
    font-weight: bold;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* Адаптив */
@media (width <= 1024px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
  }

  .logo {
    align-items: center;
  }
}

@media (width <= 425px) {
  .block {
    align-items: center;
  }
}

