.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: var(--space-5);
}

.header {
  text-align: left;
  width: 100%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.hidden-item {
  display: none !important;
}

.toggle {
  margin-top: 8px;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

.icon {
  transform: translateY(1px);
}
