.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 4px;
  height: 32px;
  border-radius: 20px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.business {
  background: var(--tag-business);
}

.art {
  background: var(--tag-art);
}

.languages {
  background: var(--tag-languages);
}

.education {
  background: var(--tag-education);
}

.home {
  background: var(--tag-home);
}

.health {
  background: var(--tag-health);
}

.other {
  background: var(--tag-other);
}
