.content {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  align-items: stretch;
  gap: 32px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  & > :first-child {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  @media (width <= 1024px) {
    grid-template-columns: minmax(0, 1fr);
    gap: 24px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 0;
  height: 100%;

  & > * {
    flex: 1 1 auto;
  }
}
