.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap, 24px);
  width: 100%;
  height: var(--min-height, auto);
  background-color: var(--container-bg, transparent);
  padding: var(--container-padding, 0);
}

.column {
  background-color: var(--column-bg);
  padding: var(--column-padding, 24px);
  border-radius: var(--radius-m);
  display: flex;
  flex-direction: column;
  justify-content: var(--column-justify, flex-start);
  align-items: var(--column-align, stretch);
}

.column-left {
  composes: column;
}

.column-right {
  composes: column;
}

@media (width <= 768px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}
