.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 20px;
  width: 100%;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.skills-sidebar-header {
  margin-bottom: 0;
  text-align: left;
  width: 100%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12px;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 4px;
  width: 139px;
  height: 24px;
  flex: none;
  flex-grow: 0;
  text-align: left;
}

.expand {
  max-height: 200px;
}

.restricted {
  max-height: 100px;
}

.hidden-item {
  display: none;
}
