.title {
  font-family: 'Jost', sans-serif;
  font-weight: 500;
  color: rgba(37, 48, 23, 1);
}

.small {
  font-size: 20px;
  line-height: 24px;
}

.medium {
  font-size: 24px;
  line-height: 28px;
}

.large {
  font-size: 32px;
  line-height: 40px;
}