.preloader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  width: 100%;
}

.search-results {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.new-section {
  margin-top: 40px;
}

.recommended-section {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.section-title {
  margin: 0;
}

.grid {
  width: 100%;
}

@media (width <= 480px) {
  .recommended-section {
    gap: 16px;
  }

  .search-results {
    gap: 24px;
  }
}
