.content {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 24px;
  overflow-x: hidden;
  width: 100%;
  width: 1368px;
  margin: 0 auto;

  @media (width <= 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex: 1;
  padding: 40px;
  width: 1020px;

  @media (width <= 480px) {
    padding: 24px 16px;
  }
}
