/* body {
  overflow-x: clip;
}

.app-layout {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  max-width: 1440px;
  scroll-behavior: smooth;
}

.main {
  display: flex;
  flex: 1;
  padding: 32px 36px 60px;
} */
